@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700");
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600');
@font-face {
  font-family: geosteam;
  src: url(./fonts/font3.ttf);
}

@font-face {
  font-family: font4;
  src: url(./fonts/LoveloLineLight.otf);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*::before, *::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body, html, .container-body {
  width: 100%;
  height: 100vh;
  background: #333;
  overflow-x: hidden;
}

.container-body {
  overflow-y: scroll;
}

header {
  width: 100%;
  height: 100%;
  background: #333;
  margin-bottom: 30px;
}

#particles-js {
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .60) 79%, rgba(0, 0, 0, 0.65) 100%), url('../img/meh.jpg'));
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .60) 79%, rgba(0, 0, 0, 0.65) 100%), url('../img/meh.jpg'));
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .60) 79%, rgba(0, 0, 0, 0.65) 100%), url('../img/meh.jpg'));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .60) 79%, rgba(0, 0, 0, 0.65) 100%), url('../img/meh.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
  padding-bottom: 30px;
}

header .side-nav {
  position: fixed;
  top: 0;
  right: -200%;
  height: 100%;
  z-index: 9999;
  overflow-x: hidden;
  padding-top: 60px;
  width: 300px;
  background: white;
  -webkit-transition: right 0.4s ease-in-out;
  transition: right 0.4s ease-in-out;
}

header .side-nav .menu-items a {
  text-decoration: none;
  color: #333;
  display: block;
  font-size: 18px;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  text-align: center;
  margin: 15px;
}

.side-nav .menu-items .socials {
  text-align: center;
  display: block;
}

.socials a:nth-child(1) {
  margin-left: 25px !important;
}

.socials a:nth-child(2) {
  margin-left: 45px !important;
}

.socials a:nth-child(3) {
  margin-left: 35px !important;
}

.menu-items .socials a {
  display: inline-block !important;
}

.side-nav .menu-items a:hover {
  cursor: pointer;
  color: #2ECC71 !important;
}

.small {
  color: rgba(51, 51, 51, .6);
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: underline;
  font-size: 12px;
  position: absolute;
  bottom: 20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.side-nav .menu-items .menu-item-btn {
  border: 2px solid #2ECC71;
  padding: 10px;
  border-radius: 30px;
  margin: 10px;
  display: block;
}

.active span {
  -webkit-transition: all .37s ease-in-out;
  transition: all .37s ease-in-out;
}

.active {
  right: 320px !important;
}

.active span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.active span:nth-child(2) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  margin-top: -10px !important;
  margin-right: 8px !important;
}

.active span:nth-child(3) {
  display: none;
}

.side-nav .menu-items .menu-item-btn:hover {
  background: #2ECC71;
  color: #fff;
}

header .nav-icon {
  width: 50px;
  height: 50px;
  position: absolute;
  display: block;
  float: right;
  right: 50px;
  top: 20px;
  z-index: 99999;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

header .nav-icon span {
  background: #fff;
  height: 5px;
  margin: 5px auto;
  display: block;
  width: 70%;
  border-radius: 3px;
}

.nav-icon:hover {
  cursor: pointer;
}

header .logo {
  float: left;
  position: absolute;
  margin-top: 20px;
  margin-left: 50px;
  display: block;
  width: 40px;
  height: 40px;
  background: url('../img/logo1.png');
  animation: fliping 3.2s infinite ease-in-out;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

header .container-info {
  background: ;
  height: 300px;
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  color: #fff;
  text-align: center;
  font-family: "Lato", sans-serif;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

header .container-info .container-info-header {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 10px;
  color: #333;
  letter-spacing: 10px;
  font-family: font4;
  font-weight: lighter !important;
  text-shadow: 0 0 15px #2ecc71, 0 0 5px #FFF;
  font-size: 72px;
  background: -webkit-linear-gradient(#eee, #2ECC71);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  backface-visibility: visible;
}

header .container-info .timer {
  display: block;
  width: 90%;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

header .container-info span p {
  font-size: 12px;
  letter-spacing: normal;
  font-family: 'Lato', sans-serif;
  font-weight: 600 !important;
  color: rgba(255, 255, 255, 0.7);
}

header .container-info span {
  display: inline-block;
  font-size: 54px;
  font-weight: 400;
  padding: 12px;
  margin: 5px;
  font-family: 'geosteam' !important;
  color: #2ECC71;
}

.container-info .container-info-footer .btn-sign-up {
  display: block;
  margin-top: 50px;
  text-align: center;
}

.container-info .container-info-footer .btn-sign-up .btn {
  display: inline-block;
  padding: 12px 46px;
  text-transform: uppercase;
  background: #fff;
  -webkit-transition: all .11s ease-in-out;
  transition: all .11s ease-in-out;
  border-radius: 40px;
  backface-visibility: visible;
  box-shadow: 0 0 10px rgba(255, 255, 255, .6), 0 0 20px rgba(255, 255, 255, .6), 0 0 30px rgba(255, 255, 255, .6), 0 0 40px #97FF00, 0 0 70px #97FF00, 0 0 80px #2eec71, 0 0 100px #2eec71, 0 0 150px #2eec71, inset 0 0 12px #97FF00;
}

.container-info-footer .btn-sign-up .btn p {
  font-size: 16px;
  color: #000;
  font-weight: 600;
}

.btn-sign-up .btn:hover {
  cursor: pointer;
  background: rgba(46, 204, 113, .86);
  -webkit-animation: rubberBand 1s;
  animation: shrink 1s;
}

section#about {
  background: #333;
  color: #fff;
  font-size: 18px;
  position: relative;
  width: 100%;
  padding-bottom: 30px;
  font-family: "Lato", sans-serif;
  -webkit-box-shadow: inset 1px 9px 10px -2px rgba(0, 0, 0, 0.75);
  box-shadow: inset 1px 9px 10px -2px rgba(0, 0, 0, 0.75)
}

#about .about-header {
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 30px;
  font-size: 32px;
  font-weight: 300;
}

#about .content-about {
  padding-top: 70px;
  padding-bottom: 100px;
  width: 80%;
  margin: 0 auto;
  line-height: 28px;
  text-align: center;
  letter-spacing: 4px;
  position: relative;
}

.content-about::before, .content-about::after {
  content: '';
  position: absolute;
  display: block;
}

.content-about::before {
  bottom: 40px;
  width: 100%;
  height: 3px;
  background: #2ECC71;
  border-radius: 5px;
}

.content-about::after {
  bottom: 17px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #333;
}

.arr {
  position: absolute;
  width: 100%;
  height: 5px;
  background: #333333;
}

.arr::before, .arr::after {
  content: '';
  position: absolute;
  bottom: 100%;
  width: 50%;
}

.arr::before {
  right: 50%;
  border-bottom: 40px solid #333333;
  border-right: 40px solid transparent;
}

.arr::after {
  left: 50%;
  border-bottom: 40px solid #333333;
  border-left: 40px solid transparent;
}

#about .map {
  width: 100%;
  height: 400px;
  margin: 20px 0px;
  padding: 10px;
  display: inline-block;
}

section#gallery {
  color: #fff;
  font-size: 18px;
  position: relative;
  width: 100%;
  padding-bottom: 30px;
  font-family: "Lato", sans-serif;
  padding-top: 40px;
}

#gallery .content-gallery-text {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  line-height: 28px;
  letter-spacing: 4px;
  padding-bottom: 50px;
}

#gallery .content-gallery-text .about-gallery-header {
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 30px;
  font-size: 32px;
  font-weight: 300;
}

#gallery .content-gallery, #gallery .content-gallery .row {
  max-width: 100%;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content-gallery .row .item {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  height: 200px;
  overflow: hidden;
}

.content-gallery .row .item img {
  width: 100%;
  height: 100%;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.content-gallery .row .item img:hover {
  -webkit-filter: none;
  filter: none;
  -webkit-transform: scale(1.32);
  transform: scale(1.32);
}

#gallery .gallery-menu {
  text-align: center;
  overflow: hidden;
  margin-top: 22px;
  margin-bottom: 48px;
}

#gallery .gallery-menu ul li {
  display: inline-block;
  list-style: none;
  text-align: center;
}

#gallery .gallery-menu ul li span {
  color: rgba(255, 255, 255, .7);
  background: transparent;
  display: inline-block;
  padding: 8px 12px;
  text-transform: uppercase;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.act {
  border: 1px solid #2ECC71;
  background: rgba(46, 204, 113, .4);
  color: #fff;
}

.gallery-menu ul li span:hover {
  background: #2ECC71 !important;
  color: #fff !important;
  cursor: pointer;
}

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .6);
}

.popup-content {
  display: block;
  max-width: 80%;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

section#sign-up {
  font-size: 18px;
  width: 100%;
  padding-bottom: 30px;
  font-family: "Lato", sans-serif;
  padding-top: 40px;
  color: #fff;
}

#sign-up .sign-up-content {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 50px;
}

#sign-up .sign-up-content .sign-up-header {
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 30px;
  font-size: 32px;
  font-weight: 300;
  letter-spacing: 4px;
}

#sign-up .sign-up-content .sign-up-group {
  position: relative;
  width: 300px;
  display: inline-block;
  padding: 30px;
}

.sign-up-content .sign-up-group .group-inputs {
  position: relative;
  margin-bottom: 45px;
}

input {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 100%;
  border: none;
  background: #333;
  color: #2ECC71;
  border-bottom: 2px solid #757575;
}

input:focus {
  outline: none !important;
  background: #333;
}

label {
  color: #999;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  left: 5px;
  top: 15px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

input:focus~label, input:valid~label {
  top: -16px;
  font-size: 14px;
  color: #2ECC71;
}

.bar {
  position: relative;
  display: block;
  width: 100%;
}

.bar:before, .bar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 0;
  position: absolute;
  background: #999;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.bar:before {
  left: 50%;
}

.bar:after {
  right: 50%;
}

input:focus~.bar:before, input:focus~.bar:after {
  width: 50%;
  background-color: #2ECC71;
}

.button {
  width: 100%;
  display: inline-block;
  padding: 10px 20px;
  border: 2px solid #2ECC71;
  border-radius: 30px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.button:hover {
  cursor: pointer;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.failed {
  -webkit-animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
  animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000px;
  perspective: 1000px;
}

.failed .button {
  border: 2px solid #f93725;
}

.failed label {
  color: #f93725;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

section#sponsors {
  font-size: 18px;
  width: 100%;
  padding-bottom: 30px;
  font-family: "Lato", sans-serif;
  padding-top: 40px;
  color: #fff;
}

#sponsors .content-sponsors {
  width: 80%;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  text-align: center;
}

#sponsors .content-sponsors .header-sponsors {
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 30px;
  font-size: 32px;
  font-weight: 300;
  letter-spacing: 4px;
}

.content-sponsors .content-sponsors-row .row-item {
  width: 200px;
  height: 200px;
  text-align: center;
  padding: 15px;
  display: inline-block;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  position: relative;
  overflow: hidden;
}

.content-sponsors-row .row-item img {
  width: 100%;
  height: 100%;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  opacity: .3;
}

.content-sponsors-row .row-item .row-item-info {
  position: absolute;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  background: rgba(46, 204, 113, .6);
  width: 100%;
  height: 100%;
  top: -100%;
  left: 0;
}

.row-item .row-item-info a {
  text-decoration: none;
  color: #fff;
}

.row-item-info a:hover {
  cursor: pointer;
}

.row-item .row-item-info i {
  padding-top: 10px;
}

.row-item .row-item-info>p {
  position: absolute;
  bottom: 10px;
}

.row-item .row-item-info p {
  font-weight: 400;
  text-transform: uppercase;
  padding: 10px 25px;
  font-size: 16px;
}

.row-item:hover .row-item-info {
  top: 0;
}

section#our-team {
  font-size: 18px;
  width: 100%;
  padding-bottom: 30px;
  font-family: "Lato", sans-serif;
  padding-top: 40px;
  color: #fff;
  text-align: center;
}

#our-team .content-our-team {
  width: 80%;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  text-align: center;
}

#our-team .content-our-team .header-our-team {
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 30px;
  font-size: 32px;
  font-weight: 300;
  letter-spacing: 4px;
}

#our-team .our-team-row {
  width: 100%;
  padding-bottom: 30px;
}

#our-team .our-team-row .row-member {
  width: 275px;
  height: 400px;
  text-align: center;
  padding: 15px;
  display: inline-block;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  position: relative;
  overflow: hidden;
}

.our-team-row .row-member img {
  width: 100%;
  height: 100%;
}

.our-team-row .row-member .member-info {
  position: absolute;
  padding: 20px;
  top: 0;
  left: 15px;
  width: 90%;
  height: 100%;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(51, 51, 51, 0.8) 79%, rgba(51, 51, 51, 0.99) 100%);
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(51, 51, 51, 0.8) 79%, rgba(51, 51, 51, 0.99) 100%);
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(51, 51, 51, 0.8) 79%, rgba(51, 51, 51, 0.99) 100%);
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(51, 51, 51, 0.8) 79%, rgba(51, 51, 51, 0.99) 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(51, 51, 51, 0.8) 79%, rgba(51, 51, 51, 0.99) 100%);
}

.row-member .member-info .member--info {
  position: absolute;
  bottom: 20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  text-align: center;
}

.member-info .member--info p {
  font-weight: 300;
  padding: 5px;
}

footer {
  width: 100%;
  padding: 5px 0;
  text-align: center;
  font-size: 22px;
}

footer>div span {
  margin-left: 20px;
  display: inline-block;
  padding: 5px 10px;
  text-align: center;
}

footer span>a {
  color: rgba(46, 204, 113, 1);
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: color .3s ease;
  transition: color .3s ease;
}

footer span>a:hover {
  color: #000;
}

.to-top {
  display: none;
  position: absolute;
  width: 50px;
  height: 50px;
  background: rgba(255, 255, 255, 0.6);
  bottom: 30px;
  right: 35px;
  border-radius: 5px;
}

.to-top img {
  width: 100%;
  height: 100%;
}

.to-top:hover {
  background: #fff;
}

.filtered {
  opacity: .2;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

::-moz-selection {
  color: #333;
  background: #fff;
}

::selection {
  color: #333;
  background: #fff;
}

.container-body::-webkit-scrollbar {
    width: 0;
}

@media (max-width: 786px) {
  .row {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .content-gallery .row .item {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%
  }
}

@media (max-width: 475px) {
  .content-gallery .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

@media (max-width: 687px) {
  header .container-info .container-info-header {
    font-size: 42px;
  }
  header .container-info span {
    font-size: 24px;
  }
  .container-info .container-info-footer .btn-sign-up .btn {
    padding: 10px 16px;
  }
  .btn-sign-up .btn p {
    font-size: 12px !important;
    font-weight: 400 !important;
  }
}

@keyframes fliping {
  0% {
    transform: perspective(300px) rotate3d(0, 1, 0, -360deg);
    animation-timing-function: ease-out;
  }
  40% {
    transform: perspective(300px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -185deg);
    animation-timing-function: ease-out;
  }
  50% {
    transform: perspective(300px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -165deg);
    animation-timing-function: ease-in;
  }
  80% {
    transform: perspective(300px) scale3d(.94, .94, .94);
    animation-timing-function: ease-in;
  }
  100% {
    transform: perspective(300px);
    animation-timing-function: ease-in;
  }
}

@keyframes shrink {
  0% {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(1.27, 0.76, 1);
  }
  40% {
    transform: scale3d(0.76, 1.26, 1);
  }
  50% {
    transform: scale3d(1.16, 0.86, 1);
  }
  65% {
    transform: scale3d(.94, 1.06, 1);
  }
  75% {
    transform: scale3d(1.06, .94, 1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}

@-webkit-keyframes shake {
  10%, 90% {
    -webkit-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0);
  }
  20%, 80% {
    -webkit-transform: translate3d(2px, 0, 0);
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    -webkit-transform: translate3d(-4px, 0, 0);
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    -webkit-transform: translate3d(4px, 0, 0);
    transform: translate3d(4px, 0, 0);
  }
}

@keyframes shake {
  10%, 90% {
    -webkit-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0);
  }
  20%, 80% {
    -webkit-transform: translate3d(2px, 0, 0);
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    -webkit-transform: translate3d(-4px, 0, 0);
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    -webkit-transform: translate3d(4px, 0, 0);
    transform: translate3d(4px, 0, 0);
  }
}
